*{margin: 0px;
    padding: 0px;}
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgb(7, 34, 2);
        font-family: sans-serif;
    }
    
    .container{
        display: flex;
        background-color: rgb(79, 166, 241);
        align-items: center;
        flex-direction: column;
        box-shadow: 3px 5px 10px rgb(0, 0,0,0.5);
        padding: 80px;
        border-radius: 10px;
    }
    h3{
        font-size: 35px;
        padding: 19px;
        font-weight: 800px;
    }
    
    p{
        font-size: 25px;
        padding: 20px;
    }
    input{
        height: 30px;
        width: 300px;
        border-radius: 5px;
    }
    
    button{
        font-size: 18px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(79, 79, 240);
    }
    